body {
    background-color: #1a1a1a; /* Dark background */
    font-family: Arial, sans-serif;
    color: #fff; /* White text color */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3a2a4d; /* Dark bluish-purple background */
    color: #fff;
    padding: 20px;
    position: relative;
}

header h1 {
    margin: 0;
}

.logo {
    position: absolute;
    right: 20px;
    height: 50px; /* Adjust as needed */
}

/* Add padding to the top of the container to avoid overlap with the header */
.container {
    padding-top: 100px; /* Adjust as needed */
    /* Other styles... */
}



.container {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
    margin-left: 50%; /* Shift the form to the right */
    transform: translateX(-50%); /* Center the form within the right half */
    padding-top: 100px; /* Adjust as needed to avoid overlap with the header */
}


label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0e5d6; /* Light gold background for input fields */
    color: #000; /* Black text color */
    transition: transform 0.3s;
}

input[type="text"]:hover,
input[type="email"]:hover,
select:hover {
    transform: scale(1.05);
}

.subscription-type {
    margin: 20px 0;
}

.subscription-type input[type="radio"] {
    margin-right: 10px;
}

button {
    background-image: linear-gradient(to right, #000, #a87f32); /* Black to gold gradient */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.05);
}
