body {
    background-color: #1a1a1a; /* Dark background */
    font-family: Arial, sans-serif;
    color: #fff; /* White text color */
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 80px; /* Adjust as needed */
}


.container {
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px; /* Adjust as needed */
    margin: auto;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0e5d6; /* Light gold background for input fields */
    color: #000; /* Black text color */
    transition: transform 0.3s;
}

input[type="text"]:hover,
input[type="email"]:hover,
select:hover {
    transform: scale(1.05);
}

.subscription-type {
    margin: 20px 0;
}

.subscription-type input[type="radio"] {
    margin-right: 10px;
}

button {
    background-image: linear-gradient(to right, #000, #a87f32); /* Black to gold gradient */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.05);
}
